<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECUI-电商平台的交互UI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="参与 Amaze UI 插件大赛的比赛作品">
    <meta name="keywords" content="AmazeUI,电商UI">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../src/images/ico/ico32.ico">
    <link rel="stylesheet" href="../../lib/amazeui/css/amazeui.min.css">
    <link rel="stylesheet" href="../../src/css/layout-page.css">
    <link rel="stylesheet" href="../../lib/github-gist.min.css">
    <script src="../../lib/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="../../lib/vue/vue.min.js"></script>
</head>
<body>
<header>
    <div class="wos">
        <h1 class="am-fl"><a href="../../index.html">AmazeUI-ec</a></h1>
        <nav class="am-fr">
            <a v-for="item of nav" href="{{item.url}}">{{item.name}}</a>
        </nav>
    </div>
</header>

<div class="am-g main pagewidth">
    <div class="am-u-sm-3 menu am-padding-lg">
        <h1>功能扩展</h1>
        <hr>
        <div id="cssNav">
            <ul>
                <li v-for="item of nav">
                    <div v-if="item.url == 'search.html'">
                        <a href="{{item.url}}" class="bti">{{item.name}}</a>
                    </div>
                    <div v-else>
                        <a href="{{item.url}}">{{item.name}}</a>
                    </div>
                </li>
            </ul>
        </div>
        <script src="../../src/js/nav.js"></script>
    </div>
    <div class="am-u-sm-9 info am-padding-lg showMi">
        <h3>基础搜索框</h3>
        <div style="width: 500px;">
            <div class="wos-search-basic">
                <i class="am-icon-search"></i>
                <input type="text" placeholder="大鱼海棠">

                <button type="button" class="am-btn am-btn-primary am-fr">搜索</button>
                <a href="#" class="am-fr chart"><i class="am-icon-bar-chart"></i></a>
            </div>
        </div>
        <style>
            .wos-search-basic{
                padding: 5px 0px  0px 10px;
                border: 1px solid #0e90d2;
                height: 39px;
                color: #0e90d2;
                overflow: hidden;
            }
            .wos-search-basic input{
                border: 0px;
                margin-top: -5px;
                outline:none;
                color: #000;
                width: 70%; /*固定搜索框宽度，如响应式 js计算宽度*/
            }
            .wos-search-basic button{
                margin:-5px -2px 0 0;
            }
            .chart{
                padding-right: 10px;
            }
        </style>
        <pre><code class="xml">&lt;div style="width: 500px;"&gt;
    &lt;div class="wos-search-basic"&gt;
        &lt;i class="am-icon-search"&gt;&lt;/i&gt;
        &lt;input type="text" placeholder="大鱼海棠"&gt;

        &lt;button type="button" class="am-btn am-btn-primary am-fr"&gt;搜索&lt;/button&gt;
        &lt;a href="#" class="am-fr chart"&gt;&lt;i class="am-icon-bar-chart"&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;style&gt;
    .wos-search-basic{
        padding: 5px 0px  0px 10px;
        border: 1px solid #0e90d2;
        height: 39px;
        color: #0e90d2;
        overflow: hidden;
    }
    .wos-search-basic input{
        border: 0px;
        margin-top: -5px;
        outline:none;
    }
    .wos-search-basic button{
        margin:-5px -2px 0 0;
    }
    .chart{
        padding-right: 10px;
    }
&lt;/style&gt;</code></pre>
    </div>
</div>

<footer>
    <div id="ussay" class="am-g  pagewidth">
        <div class="am-u-sm-4">
            <h3>Help ECUI </h3>
            <p>我们希望你能享受这种更实用的UI设计！如果你觉得现实中已经得到了我们的帮助，希望支持我们的团队，送我们超过一个捐赠！任何金额将有助于支持和继续在这个项目上的发展，并不胜感激。 </p>
        </div>
        <div class="am-u-sm-4">
            <h3>MIT License</h3>
            <p>ECUI采用了Amaze UI框架，并使用 MIT 许可证发布，用户可以自由使用、复制、修改、合并、出版发行、散布、再授权及贩售 ECUI及其副本。</p>
        </div>
        <div class="am-u-sm-4">
            <h3>Heroes</h3>
            <p>参考、使用的项目：AmazeUI，jQuery, Vue.js, Seajs, Less, normalize.css, FontAwesome, Bootstrap, Foundation, UIKit, Pure, Framework7, etc.</p>
        </div>
    </div>
    <div id="copyright">吉ICP备12003179号-4</div>
</footer>

</body>
<script src="../../lib/jquery.min.js"></script>
<script src="../../lib/amazeui/amazeui.min.js"></script>

</html>