.greenText {
  color: #a4cd5e;
}
.shenhongText {
  color: #dd5c3d;
}
.bgcolorHui {
  background-color: #656666;
}
.bgcolorgreed {
  background-color: #65b575;
}
.bgcolorred {
  background-color: #dd5c3d;
}
footer {
  width: 100%;
  background-color: #48c0eb;
  padding: 0;
  position: absolute;
  margin-top: 30px;
}
footer #copyright {
  height: 50px;
  line-height: 50px;
  width: 100%;
  color: #fff;
  background-color: #32a6c6;
  padding-right: 10px;
  text-align: right;
}
footer #ussay {
  color: #fff;
  padding: 30px 10px 10px 60px;
}
footer #ussay h3 {
  font-size: 200%;
}
header {
  height: 50px;
  background-color: #48c0eb;
}
header .wos {
  margin: 0 auto;
  height: 30px;
  width: 1200px;
}
header .wos h1 {
  color: #fff;
  font-size: 200%;
}
header .wos h1 a {
  color: #ffffff;
}
header .wos nav {
  padding-top: 10px;
}
header .wos nav a {
  padding: 11px 10px;
  font-size: 120%;
  margin-left: 10px;
  background-color: #48c0eb;
  transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}
header .wos nav a:link,
header .wos nav a:visited,
header .wos nav a:active {
  text-decoration: none;
  color: #fff;
}
header .wos nav a:hover {
  background-color: #86d5f2;
}
ul,
li {
  margin: 0px;
  padding: 0px;
}
.pagewidth {
  width: 1200px;
}
.main {
  clear: both;
}
.main .menu {
  position: fixed;
  top: 80px;
  width: 320px;
}
.main .menu h1 {
  color: #48c0eb;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 0px;
}
.main .menu li {
  width: 95%;
  height: 35px;
  line-height: 35px;
  list-style-type: none;
  padding: 0 10px;
  background-color: #ffffff;
  transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  padding-left: 40px;
}
.main .menu a:link,
.main .menu a:visited,
.main .menu a:active {
  text-decoration: none;
  color: #000;
}
.main .menu li:hover {
  background-color: #86d5f2;
}
.main .menu .bti {
  font-weight: bold;
  padding-left: 10px;
  border-left: 3px solid #2295d4;
  margin-left: -15px;
  height: 30px;
}
.main .menu li.bti:hover {
  background-color: #fff;
}
.main .info {
  border-left: 1px solid #f7f7f7 ;
}
.showMi {
  min-height: 1500px;
  float: right;
  width: 880px;
}
pre {
  padding: 10px !important;
  background-color: #fff;
}
code {
  margin: 0px !important;
  padding: 0px !important;
}
.remarks {
  font-size: 75%;
  color: #8E8E93;
}
