<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECUI-电商平台的交互UI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/cdn/ico/ico32.ico">
    <link rel="stylesheet" href="/node_modules/amazeui/dist/css/amazeui.min.css">
    <link rel="stylesheet" href="/src/css/layout-page.css">
    <link rel="stylesheet" href="/lib/github-gist.min.css">
    <script src="/lib/highlight.min.js"></script>
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<header>
    <div class="wos">
        <h1 class="am-fl"><a href="/">AmazeUI-ec</a></h1>
        <nav class="am-fr">
            <a v-for="item of nav" href="{{item.url}}">{{item.name}}</a>
        </nav>
    </div>
</header>

<div class="am-g main pagewidth">
    <div class="am-u-sm-3 menu am-padding-lg">
        <h1>功能扩展</h1>
        <hr>
        <div id="funNav">
            <ul>
                <li v-for="item of nav">
                    <div v-if="item.url == 'OrderedList.html'">
                        <a href="{{item.url}}" class="bti">{{item.name}}</a>
                    </div>
                    <div v-else>
                        <a href="{{item.url}}">{{item.name}}</a>
                    </div>
                </li>
            </ul>
        </div>
        <script src="/src/js/nav.js"></script>
    </div>
    <div class="am-u-sm-9 info am-padding-lg showMi">
        <h3>展示</h3>
        <div id="showApp"></div>

        <h3>源码</h3>
        <pre><code class="xml">&lt;div id="showApp"&gt;作用域&lt;/div&gt;

&lt;template id="wos-orderedList"&gt;
    &lt;div class="wos-orderedList"&gt;
        &lt;div class="wos-goods_title"&gt;
            &lt;span&gt;排名&lt;/span&gt;
            &lt;span&gt;产品&lt;/span&gt;
            &lt;span class="am-fr"&gt;关注次数&lt;/span&gt;
        &lt;/div&gt;
        &lt;ul class="wos-listUl"&gt;
            &lt;li v-for="item of goods" class="wos-listLi wos-li-{{$index+1}}"&gt;
                &lt;a href="{{item.goodsTitle}}"&gt;
                    &lt;div class="am-fl"&gt;{{$index+1}}&lt;/div&gt;{{item.goodsTitle}}
                &lt;/a&gt;
                &lt;span class="am-fr"&gt;51225&lt;/span&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;div class="wos-more"&gt;&lt;a href="#"&gt;完整榜单&lt;/a&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/template&gt;
&lt;script&gt;
    var json = [
        {
            'id':'A101',
            'goodsTitle':'陈年茅台精装版',
            'url':'http://amazeui.ttxxpp.com'
        },
        {
            'id':'A102',
            'goodsTitle':'散装节日月饼',
            'url':'http://amazeui.ttxxpp.com'
        },
        {
            'id':'A103',
            'goodsTitle':'东北牛肉干',
            'url':'http://amazeui.ttxxpp.com'
        },
        {
            'id':'A104',
            'goodsTitle':'4G内存卡',
            'url':'http://amazeui.ttxxpp.com'
        },
        {
            'id':'A105',
            'goodsTitle':'帆布小包包',
            'url':'http://amazeui.ttxxpp.com'
        },
        {
            'id':'A106',
            'goodsTitle':'创意摆件水培花器',
            'url':'http://amazeui.ttxxpp.com'
        },
        {
            'id':'A107',
            'goodsTitle':'皮影戏人物道具操作杆',
            'url':'http://amazeui.ttxxpp.com'
        },
        {
            'id':'A108',
            'goodsTitle':'紫砂铜佛三足香炉',
            'url':'http://amazeui.ttxxpp.com'
        },
        {
            'id':'A109',
            'goodsTitle':'笔对联山水画泼墨',
            'url':'http://amazeui.ttxxpp.com'
        },
        {
            'id':'A1010',
            'goodsTitle':'三足双耳线香炉',
            'url':'http://amazeui.ttxxpp.com'
        }
    ];
    new Vue({
        el: '#showApp',
        data:{
            goods:json
        },
        template:"#wos-orderedList"
    });
&lt;/script&gt;
&lt;style&gt;
    .wos-orderedList{
        width: 300px;
        border:1px solid #e1e1e1;
        font-size: 75%;
    }
    .wos-goods_title{
        font-size: 50%;
        background-color: #fff3f7;
        padding: 5px 10px;;
    }
    .wos-goods_title span:first-child{
        padding-right: 5px;
        border-right: 1px solid #fff;
        margin-right: 5px;
    }
    .wos-listUl{
        padding: 10px;
    }
    .wos-listUl li{
        list-style-type: none;
        clear: both;
        margin-bottom: 10px;
    }
    .wos-listUl li div{
        padding: 5px 0;
        margin-right: 10px;
        background-color: #c0c1c3;
        color: #fff;
        font-size: 30%;
        width: 20px;
        line-height: 10px;
        text-align: center;
        border: 1px solid #acaeb2;
    }
    .wos-more{
        width: 100%;
        text-align: right;
        margin: 0px;
        padding: 0 5px;
        margin-top: -10px;
    }
    .wos-listLi a:hover{text-decoration:underline}
    .wos-li-1 a div{background-color:#dd514c; border: #c4322d}
    .wos-li-2 a div{background-color:#f37b1d; border: #d36510}
    .wos-li-3 a div{background-color:#5eb95e; border: #309730}
&lt;/style&gt;</code></pre>

    </div>
</div>
<!--vue-->
    <template id="wos-orderedList">
        <div class="wos-orderedList">
            <div class="wos-goods_title">
                <span>排名</span>
                <span>产品</span>
                <span class="am-fr">关注次数</span>
            </div>
            <ul class="wos-listUl">
                <li v-for="item of goods" class="wos-listLi wos-li-{{$index+1}}">
                    <a href="{{item.goodsTitle}}">
                        <div class="am-fl">{{$index+1}}</div>{{item.goodsTitle}}
                    </a>
                    <span class="am-fr">51225</span>
                </li>
            </ul>
            <div class="wos-more"><a href="#">完整榜单</a></div>
        </div>
    </template>
    <script>
        var json = [
            {
                'id':'A101',
                'goodsTitle':'陈年茅台精装版',
                'url':'http://amazeui.ttxxpp.com'
            },
            {
                'id':'A102',
                'goodsTitle':'散装节日月饼',
                'url':'http://amazeui.ttxxpp.com'
            },
            {
                'id':'A103',
                'goodsTitle':'东北牛肉干',
                'url':'http://amazeui.ttxxpp.com'
            },
            {
                'id':'A104',
                'goodsTitle':'4G内存卡',
                'url':'http://amazeui.ttxxpp.com'
            },
            {
                'id':'A105',
                'goodsTitle':'帆布小包包',
                'url':'http://amazeui.ttxxpp.com'
            },
            {
                'id':'A106',
                'goodsTitle':'创意摆件水培花器',
                'url':'http://amazeui.ttxxpp.com'
            },
            {
                'id':'A107',
                'goodsTitle':'皮影戏人物道具操作杆',
                'url':'http://amazeui.ttxxpp.com'
            },
            {
                'id':'A108',
                'goodsTitle':'紫砂铜佛三足香炉',
                'url':'http://amazeui.ttxxpp.com'
            },
            {
                'id':'A109',
                'goodsTitle':'笔对联山水画泼墨',
                'url':'http://amazeui.ttxxpp.com'
            },
            {
                'id':'A1010',
                'goodsTitle':'三足双耳线香炉',
                'url':'http://amazeui.ttxxpp.com'
            }
        ];
        new Vue({
            el: '#showApp',
            data:{
                goods:json
            },
            template:"#wos-orderedList"
        });
    </script>
    <style>
        .wos-orderedList{
            width: 300px;
            border:1px solid #e1e1e1;
            font-size: 75%;
        }
        .wos-goods_title{
            font-size: 50%;
            background-color: #fff3f7;
            padding: 5px 10px;;
        }
        .wos-goods_title span:first-child{
            padding-right: 5px;
            border-right: 1px solid #fff;
            margin-right: 5px;
        }
        .wos-listUl{
            padding: 10px;
        }
        .wos-listUl li{
            list-style-type: none;
            clear: both;
            margin-bottom: 10px;
        }
        .wos-listUl li div{
            padding: 5px 0;
            margin-right: 10px;
            background-color: #c0c1c3;
            color: #fff;
            font-size: 30%;
            width: 20px;
            line-height: 10px;
            text-align: center;
            border: 1px solid #acaeb2;
        }
        .wos-more{
            width: 100%;
            text-align: right;
            margin: 0px;
            padding: 0 5px;
            margin-top: -10px;
        }
        .wos-listLi a:hover{text-decoration:underline}
        .wos-li-1 a div{background-color:#dd514c; border: #c4322d}
        .wos-li-2 a div{background-color:#f37b1d; border: #d36510}
        .wos-li-3 a div{background-color:#5eb95e; border: #309730}
    </style>
<!--/vue-->

<footer>
    <div id="ussay" class="am-g  pagewidth">
        <div class="am-u-sm-4">
            <h3>Help ECUI </h3>
            <p>我们希望你能享受这种更实用的UI设计！如果你觉得现实中已经得到了我们的帮助，希望支持我们的团队，送我们超过一个捐赠！任何金额将有助于支持和继续在这个项目上的发展，并不胜感激。 </p>
        </div>
        <div class="am-u-sm-4">
            <h3>MIT License</h3>
            <p>ECUI采用了Amaze UI框架，并使用 MIT 许可证发布，用户可以自由使用、复制、修改、合并、出版发行、散布、再授权及贩售 ECUI及其副本。</p>
        </div>
        <div class="am-u-sm-4">
            <h3>Heroes</h3>
            <p>参考、使用的项目：AmazeUI，jQuery, Vue.js, Seajs, Less, normalize.css, FontAwesome, Bootstrap, Foundation, UIKit, Pure, Framework7, etc.</p>
        </div>
    </div>
    <div id="copyright">吉ICP备12003179号-4</div>
</footer>

</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/amazeui/dist/js/amazeui.min.js"></script>

</html>